[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/sh2"]
	path = lib/sh2
	url = https://github.com/ceva-dsp/sh2.git
[submodule "lib/stm32u5xx-hal-driver"]
	path = lib/stm32u5xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32u5xx-hal-driver.git
[submodule "lib/cmsis_device_u5"]
	path = lib/cmsis_device_u5
	url = https://github.com/STMicroelectronics/cmsis_device_u5.git
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/stm32-mw-filex"]
	path = lib/stm32-mw-filex
	url = https://github.com/STMicroelectronics/stm32-mw-filex.git
[submodule "lib/microrl"]
	path = lib/microrl
	url = https://github.com/Helius/microrl.git
