BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
SortIncludes: false
AlignTrailingComments: true
# AlignArrayOfStructures: Left
PointerAlignment: Right
BreakBeforeBraces: Attach
AlignEscapedNewlines: Left
Cpp11BracedListStyle: true
